services:
  db:
    image: postgres:16
    environment:
      POSTGRES_DB: relay
      POSTGRES_USER: relay
      POSTGRES_PASSWORD: relay_pw
    ports:
      - "5432:5432"
    volumes:
      - relay_pgdata:/var/lib/postgresql/data


  api:
    image: node:20-alpine
    working_dir: /app
    volumes:
      - ../api:/app
    environment:
      DATABASE_URL: postgres://relay:relay_pw@db:5432/relay
      JWT_SECRET: dev_secret_change_me
      VAPID_SUBJECT: "mailto:dev@example.com"
      VAPID_PUBLIC_KEY: "BKGhPBanr6sWQ9VJCIzSzJGUgn3Bu2zNdmyJLYLuUW1cprCHt86f41NvMif2kdfn3q3Aj8t1dV1v1P5NTtG5l6A"
      VAPID_PRIVATE_KEY: "ECJ5zukZ22uPE1GFXHIetKFtmB8khoFBwXsYQNqhOM8"

    command: sh -c "npm install && npm run dev"
    ports:
      - "3000:3000"
    depends_on:
      - db

  web:
    image: node:20-alpine
    working_dir: /app
    volumes:
      - ../web:/app
    environment:
      CHOKIDAR_USEPOLLING: "true"
      VITE_API_BASE: "http://192.168.178.91:3000"
      VITE_VAPID_PUBLIC_KEY: "BKGhPBanr6sWQ9VJCIzSzJGUgn3Bu2zNdmyJLYLuUW1cprCHt86f41NvMif2kdfn3q3Aj8t1dV1v1P5NTtG5l6A"
    command: sh -c "npm install && npm run dev -- --host 0.0.0.0 --port 5173"
    ports:
      - "5173:5173"

volumes:
  relay_pgdata:
    